/examples/peripherals/Template/build
/examples/peripherals/gpio_out/build
/examples/peripherals/gpio_in_polling/build
/examples/peripherals/gpio_in_polling/managed_components
examples/peripherals/gpio_in_polling/sdkconfig.defaults
examples/peripherals/gpio_in_polling/sdkconfig
examples/peripherals/gpio_in_polling/README.md
examples/peripherals/gpio_in_polling/pytest_blink.py
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32c3
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32c5
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32c6
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32c61
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32h2
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32p4
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32s2
examples/peripherals/gpio_in_polling/sdkconfig.defaults.esp32s3
examples/peripherals/gpio_in_polling/sdkconfig.old
examples/peripherals/gpio_in_polling/.clangd
examples/peripherals/gpio_in_polling/.devcontainer/devcontainer.json
examples/peripherals/gpio_in_polling/.devcontainer/Dockerfile
examples/peripherals/gpio_in_polling/.vscode/c_cpp_properties.json
examples/peripherals/gpio_in_polling/.vscode/launch.json
examples/peripherals/gpio_in_polling/.vscode/settings.json
examples/peripherals/gpio_in_polling/dependencies.lock
examples/peripherals/gpio_in_polling/main/Kconfig.projbuild
examples/peripherals/gpio_in_polling/main/idf_component.yml
/examples/peripherals/gpio_in_interrupt/.devcontainer
/examples/peripherals/gpio_in_interrupt/build
/examples/peripherals/gpio_in_interrupt/managed_components
examples/peripherals/gpio_in_interrupt/.vscode/c_cpp_properties.json
examples/peripherals/gpio_in_interrupt/.vscode/launch.json
examples/peripherals/gpio_in_interrupt/.vscode/settings.json
examples/peripherals/gpio_in_interrupt/dependencies.lock
examples/peripherals/gpio_in_interrupt/main/Kconfig.projbuild
examples/peripherals/gpio_in_interrupt/pytest_blink.py
examples/peripherals/gpio_in_interrupt/README.md
examples/peripherals/gpio_in_interrupt/sdkconfig
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32c3
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32c5
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32c6
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32c61
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32h2
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32p4
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32s2
examples/peripherals/gpio_in_interrupt/sdkconfig.defaults.esp32s3
examples/peripherals/gpio_in_interrupt/sdkconfig.old
examples/peripherals/gpio_in_interrupt/.clangd
examples/peripherals/gpio_in_interrupt/main/idf_component.yml
